* {
  box-sizing: border-box;
}

/* Header========================== */

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background:  #312828;
  color: hsl(124, 42%, 38%);
  line-height: 1.5;
  font-size: 0.875rem;
}

.nav-header {
  display: flex;
  align-items: center;
  background:  #312828;
  box-shadow: 0 5px 15px  hsl(124, 42%, 38%);
  height: 150px;
  width: 100%;
  padding: 30px 25px; 
}

.nav-bar {
  font-size: 1.5rem;
  color: hsl(116, 74%, 27%);
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

.nav-bar:hover {
  color: hsl(124, 55%, 58%);
  transform: rotate(90deg);
}

.logo {
  height: 100px;
  margin: auto;
  padding-right: 40px;
}

.sidebar {
  display: flex;
  position: fixed;
  top: 0;
  width: 250px;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

.close-sidebar-btn {
  position: fixed;
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: hsl(124, 42%, 38%);
  padding: 0.7rem 0.7rem;
}
.close-sidebar-btn:hover {
  color: hsl(124, 55%, 58%);
}

.bar-links  {
  list-style: none;
  padding-top: 40px;
  color: hsl(124, 42%, 38%);
}

.bar-links a {
  margin-left: 0px; 
  color:  hsl(124, 42%, 38%);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem 0rem;
}

.bar-links a:hover {
  background: #312828;
  padding: 0.5rem 0.5rem;
}

/* Main=========================== */

.intro {
  position: relative;
}

.movie-display-section {
  text-align: center;
}

.director-actor-bio-section {
  width: 100%;
  text-align: center;
  margin-top: 400px;
  height: fit-content;
  padding-bottom: 300px;
  background-color:hsl(124, 42%, 38%);
  box-shadow: 0px -5px 15px  hsl(124, 42%, 38%);
}

.director-actor-bio-section-title {
  font-size: 2rem;
  font-weight: 500;
  padding-top: 25px;
  letter-spacing: 0.1rem;
  color: #312828;
}


.search-field {
  width: 300px;
  height: 24px;
  font-size: 0.8rem;

  margin-top: 20px;
  margin-right: 1px;
  border-radius: 5px;
}

